{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-dismissible alert-{{ category }}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h1>Registration</h1>
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.csrf_token }}
            {% for field in form if field.name != 'csrf_token' %}
                <div class="mb-3 col-4">
                    <label for="{{ field.id }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <p>
                <input type="submit" value="Register" class="btn btn-primary mb-3">
            </p>
        </form>
    </div>
{% endblock %}