<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<form method="post" action="/user/add">
    <input type="number" placeholder="Введите id" name="id_"><br>
    <input type="text" placeholder="Введите имя" name="name"><br>
    <input type="email" placeholder="Введите email" name="email"><br>
    <input type="password" placeholder="Введите password" name="password"><br>
    <br>
    <input type=submit value=Отправить>
</form>
</body>
</html>